<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" 
        xmlns:android="http://schemas.android.com/apk/res/android" 
        id="com.movistar.tvservices" version="0.7.0">
  
  <name>TvServicesPlugin</name>
  <description>Cordova Movistar+ TV Services Plugin</description>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/tvservices.js" target="js/tvservices.js"/>

    <js-module src="www/tvservices.js" name="tvservices">
      <clobbers target="tvservices" />
    </js-module>

    <license>Apache 2.0 License</license>

    <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="TvServicesPlugin">
          <param name="android-package" value="com.movistar.tvservices.cordova.plugin.TvServicesPlugin"/>
        </feature>
        <preference name="KeepRunning" value="true" />
      </config-file>

      <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <!--
         * Puts the service in a foreground state, where the system considers
         * it to be something the user is actively aware of and thus not a
         * candidate for killing when low on memory.
        -->
        <service android:name="com.movistar.tvservices.cordova.plugin.TvServices" />
      </config-file>
            
      <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-permission android:name="android.permission.WAKE_LOCK" />
      </config-file>
            
      <!-- cordova plugin src files -->
      <source-file src="src/android/TvServicesPlugin.java" target-dir="src/com/movistar/tvservices/cordova/plugin" />
      <source-file src="src/android/TvServices.java" target-dir="src/com/movistar/tvservices/cordova/plugin" />
    </platform>

</plugin>
